@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins' sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo-border{
  border-width: 3px 3px 3px 0;
  border-color: #74c684;
  padding: 1px 6px 1px 0;
}

.animation {
  --hoverContorno: #959595;
}

.animation:hover,
.animation:focus {
  -webkit-animation: cardAnimacion 1.4s;
  animation: cardAnimacion 1.4s;
  box-shadow: 0 0 0 0.8em lavender;
}

@-webkit-keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}
